.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background-color: #16354D;
    padding: 10px 0px;
    transition: all 0.5s ease;
    z-index: 9;
}

.sidenav.active {
    width: 240px;
}

.sidenav .logo_content .logo {
    color: #E4E5EA;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    padding-left: 18px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidenav.active .logo_content .logo {
    opacity: 1;
    pointer-events: none;
}

.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name {
    font-size: 20px;
    font-weight: 400px;
}

.sidenav #btn {
    position: absolute;
    color: #E4E5EA;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transform: translateX(-50%);
}

.sidenav.active #btn {
    left: 90%;
}

.sidenav ul {
    margin-top: 20px;
}

.sidenav ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 50px 0px;
    transform: translateX(-18px);
    list-style: none;
    line-height: 50px;
}

.sidenav ul li .tooltip {
    position: absolute;
    opacity: 0;
    left: 122px;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #E4E5EA;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    pointer-events: none;
    display: block;
}

.sidenav.active ul li .tooltip {
    display: none;
}

.sidenav ul li:hover .tooltip {
    opacity: 1;
    top: 50%;
    transition: all 0.5s ease;
}

.sidenav ul li input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;;
    outline: none;
    border: none;
    background: #E4E5EA;
    padding-left: 50px;
    font-size: 18px;
    color: #0C151C;
}

.sidenav ul li .bx-search {
    position: absolute;
    z-index: 99;
    color: #0C151C;
    font-size: 22px;
    transition: all 0.5 ease;;
}

.sidenav ul li a {
    color: #E4E5EA;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidenav ul li a:hover {
    color: #0C151C;
    background: #E4E5EA;
}

.sidenav ul li i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidenav .links_name {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidenav.active .links_name {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease;
}

.sidenav .profile_content {
    position: absolute;
    color: #E4E5EA;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidenav .profile_content .profile {
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: none;
    transition: all 0.4s ease;
}

.sidenav.active .profile_content .profile {
    background: #0C151C;
}

.profile_content .profile .profile_details {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    transition: all 0.4s ease;
}

.sidenav.active .profile .profile_details {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease;
}

.profile .profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.profile .profile_details .name_job {
    margin-left: 10px;
}

.profile .profile_details .name {
    font-size: 15px;
    font-weight: 400;
}

.profile #log_out {
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s ease;
    background: #E4E5EA;
    color: #0C151C;
    cursor: pointer;
}

.sidenav.active .profile #log_out {
    left: 88%;
}

.sidenav.active ~ .content {
    width: calc(100% - 240px);
    left: 240px;
}